$primary-color: #3500d3;
$secondary-color: getColor(teal);
$light-color: getColor(grey-light);
$dark-color: getColor(grey-dark);

$alert: (
	border-width: 1px
);

$form: (
	gap: 3,
	padding-x: 1rem,
	padding-y: .65rem
);

$hamburger: (
	padding-x: 15px,
	padding-y: 15px,
	transition: 0.15s,
	color-light: white,
	active-color-light: white,
	color-dark: #000,
	active-color-dark: #000,
	border-radius: 4px,
	line-width: 32px,
	line-height: 2px, // 4
	line-spacing: 7px, // 6
	y-offset: -2px, // 6
);

$corner-radius: .75rem;
$btn-font-weight: normal;

$shadow-color: black;
$shadow-opacity: .05;

$font-family: (
	primary:  ('Arvo', '400;700'),
	secondary:  ('Lato', '400;700')
);

//BOOTSTRAP VARIABLES
$transition-collapse: height .2s ease;
$transition-collapse-width: width .2s ease;