.rounded {
	border-radius: $corner-radius !important;
}

.rounded-top {
	border-top-left-radius: $corner-radius !important;
	border-top-right-radius: $corner-radius !important;
}

.rounded-right {
	border-top-right-radius: $corner-radius !important;
	border-bottom-right-radius: $corner-radius !important;
}

.rounded-bottom {
	border-bottom-right-radius: $corner-radius !important;
	border-bottom-left-radius: $corner-radius !important;
}

.rounded-left {
	border-top-left-radius: $corner-radius !important;
	border-bottom-left-radius: $corner-radius !important;
}