.font-primary, h1, h2, h3, h4, h5, h6 {
	font-family: getFontFamily(primary), sans-serif;
}

html, body, .font-secondary, p, div, .btn {
	font-family: getFontFamily(secondary), sans-serif;
}

a, i, strong, u {
	font-family: inherit;
}

.text-left {@extend .text-start;}
.text-right {@extend .text-end;}