.left-0 {@extend .start-0;}
.right-0 {@extend .end-0;}

.x-auto {
	left: 50%;
	transform: translateX(-50%);
}

.y-auto {
	top: 50%;
	transform: translateY(-50%);
}

.position-absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.position-fixed-center {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}