
	.form-group {
		@extend .mb-#{map-get($form, gap)};
	}

	.form-control, .form-select {
		@extend .rounded;
		padding: map-get($form, padding-y) map-get($form, padding-x);
	}


	.form-control:disabled, .form-control[readonly] {
	    background-color: #e9ecef !important;
	    opacity: 1 !important;
	    cursor: default;
	}

	form.form-borderless {
		input.form-control, textarea.form-control, input.form-check {
			border: 0;
		}

		&.form-light {
			input.form-control:not([readonly]), textarea.form-control:not([readonly]), input.form-check:not([readonly]) {
				@extend .bg-light;
			}
		}
	}

	// &.form-dark {
	// 	input.form-control, textarea.form-control {
	// 		background-color: white;
	// 	}
	// }
